.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.title {
  margin: 0;
  font-size: 20px;
}

.subtitle {
  margin: 0;
  font-size: 12px;
  color: #888;
}

.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgb(239, 224, 224);
  color: black;
  padding: 10px 16px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
}

.cartRight {
  display: flex;
  align-items: center;
  gap: 6px;
}

.cartIcon {
  width: 18px;
  height: 18px;
}

.divider {
  opacity: 0.5;
}
